html
    head
        title name
        script(type='text/javascript' src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="/javascripts/update.js")
    body
        form(action='/display1' method="POST")
          |id:
          input(type="text" name="id" value=user.id)
          |Sl.no:
          input(type="text" name="no" value=user.no)
          |Name:
          input(type="text" name="name" value=user.name) 
          br
          |Des:
          input(type="text" name="des" value=user.des) 
          br
          button(type='submit' ) Update
          
           