html
    head
        title name
        script(type='text/javascript' src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="/javascripts/deleted.js")
    body
        form(action='/delete' method="POST")
          |Sl.no:
          input(type="text" name="no" value=user.no)
          
          button(type='submit' ) Delete
          
           